/*
 Name: Marylia Nieves
 Title: Project 2 VFW
 Term:1208
 Date: 8-09-12
 */

body { 
	background-color: #B8B8B8;
}




h1{
	margin: 20px;
	border: 3px solid #FFE475;
	padding:10px;
	background:#11CCC4;
	font-family: Arial, Helvetica, sans-serif;
	font-weight:bold;
	font-size: 30px;
	text-align: center;
	
}

fieldset {
		border: 3px solid #FFE475;
}	

legend {
	font-family:Helvetica;
	font-size: 18px;
	color: #282828;
	text-align: left;
	font-weight: bold;
	text-transform: capitalize;
}

ul {
	margin: 1px 1px;
	color: #282828;
	margin-bottom: 10px;
}

li {
	font-family:Helvetica;
	font-size: 14px;
}	

input {
    border: 1px solid #006;
    background: #F2F2F2;
}

a:link {color:blue;}
a:visited {color:purple;}
a:hover {color:gray;}
a:active {color:black;}

